<template>
  <div>
    <h1>
      This totally looks like Stack Overflow
      <button v-b-modal.addQuestionModal class="btn btn-primary mt-2 float-right">
        <i class="fas fa-plus"/> Ask a question
      </button>
      <button v-b-modal.liveChatModal :disabled="!isAuthenticated" class="btn btn-secondary mt-2 mr-2 float-right">
        <i class="fas fa-comments"/> Live chat
      </button>
    </h1>
    <ul class="list-group question-previews mt-4">
      <question-preview
        v-for="question in questions"
        :key="question.id"
        :question="question"
        class="list-group-item mb-3" />
    </ul>
    <add-question-modal @question-added="onQuestionAdded"/>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import QuestionPreview from '@/components/question-preview'
import AddQuestionModal from '@/components/add-question-modal'
import QuestionService from "../QuestionService"
const signalR = require("@aspnet/signalr")

export default {
  components: {
    QuestionPreview,
    AddQuestionModal
  },
  data () {
    return {
      questions: [],
      connection: null
    }
  },
  computed: {
    ...mapState('context', [
      'profile'
    ]),
    ...mapGetters('context', [
      'isAuthenticated'
    ])
  },
  created () {
    this.connection = new signalR.HubConnectionBuilder()
          .withUrl("https://localhost:44397/hub/question")
          .configureLogging(signalR.LogLevel.Information)
          .build()

    this.connection.start().catch(error => console.log(error));

    QuestionService.getAllQuestions().then(res => {
      this.questions = res
    })
  },
  beforeDestroy () {
    // Make sure to cleanup SignalR event handlers when removing the component
    this.connection.stop().catch(error => console.log(error));
  },
  mounted() {
    this.connection.on("QuestionAdded", (question)=>{
      if (!this.questions.find(a => a.id === question.id)) {
        // this.questions.push(question)
        QuestionService.getAllQuestions().then(res => {
          this.questions = res
        })
      }
    });
    this.connection.on("QuestionScoreChange", (questionId, score)=>{
      this.questions.forEach(question => {
        if(question.id === questionId){
          question.score = score;
        }
      });
    });
    this.connection.on("AnswerCountChange", (questionId, answerCount)=>{
      console.log(questionId+" => "+answerCount)
      console.log(this.questions)
      this.questions.forEach(question => {
        if(question.id === questionId){
          question.answerCount = answerCount;
        }
      });
    });
  },
  methods: {
    onQuestionAdded (question) {
      // make sure the question doesnt exist yet (as it will also arrive through signalR!)
      if (this.questions.some(q => q.id === question.id)) return
      this.questions = [question, ...this.questions]
    }
  }
}
</script>
