<template>
  <article class="container" v-if="question">
    <header class="row align-items-center">
      <question-score :question="question" class="col-1" />
      <h3 class="col-8">{{ question.title }}</h3>
      <p class="col-3">Posted by: {{ question.createdBy }}</p>
    </header>
    <p class="row">
      <vue-markdown class="offset-1 col-11">{{ question.body }}</vue-markdown>
    </p>
    <ul class="list-unstyled" v-if="hasAnswers">
      <li v-for="answer in question.answers" :key="answer.id" class="row border-top py-2">
        <vue-markdown class="offset-1 col-8">{{ answer.body }}</vue-markdown>
        <p class="col-3">{{ answer.createdBy }}</p>
      </li>
    </ul>
    <footer>
      <button class="btn btn-primary float-right" v-b-modal.addAnswerModal>
        <i class="fas fa-edit" /> Post your Answer
      </button>
      <button class="btn btn-link float-right" @click="onReturnHome">Back to list</button>
    </footer>
    <add-answer-modal :question-id="this.questionId" @answer-added="onAnswerAdded" />

    <!-- <button @click.prevent="addCookie" class="primary">Add Cookie</button>
    <button @click.prevent="readCookie" class="success">Read Cookie</button>

    <form enctype="multipart/form-data">
      <input type="file" name="file" multiple v-on:change="fileChange($event.target.files)" />
      <button type="button" @click.prevent="upload">Upload</button>
    </form> -->
  </article>
</template>

<script>
import { mapGetters } from "vuex";
import VueMarkdown from "vue-markdown";
import QuestionScore from "@/components/question-score";
import AddAnswerModal from "@/components/add-answer-modal";
import QuestionService from "../QuestionService";
const signalR = require("@aspnet/signalr");

export default {
  components: {
    VueMarkdown,
    QuestionScore,
    AddAnswerModal
  },
  data() {
    return {
      question: null,
      answers: [],
      questionId: this.$route.params.id,
      connection: null,
      files: new FormData()
    };
  },
  computed: {
    ...mapGetters("context", ["isAuthenticated"]),
    hasAnswers() {
      return this.question.answers.length > 0;
    }
  },
  created() {
    this.connection = new signalR.HubConnectionBuilder()
      .withUrl("https://localhost:44397/hub/question")
      .configureLogging(signalR.LogLevel.Information)
      .build();

    this.connection
      .start()
      .then(() => {
        this.connection
          .invoke("JoinQuestionGroup", this.questionId)
          .catch(error => console.log(error));
      })
      .catch(error => {
        console.log(error);
      });

    // Load the question and notify the server we are watching the question
    QuestionService.getQuestion(this.questionId).then(res => {
      this.question = res;
    });
    // // Listen for notifications that new answer were added
    // this.$questionHub.$on("answer-added", this.onAnswerAdded);
  },
  mounted() {
    this.connection.on("AnswerAdded", answer => {
      if (this.question.id !== answer.questionId) return;
      if (!this.question.answers.find(a => a.id === answer.id)) {
        this.question.answers.push(answer);
      }
    });
    this.connection.on("QuestionScoreChange", (questionId, score) => {
      if (this.question.id !== questionId) return;
      this.question.score = score;
    });
  },
  beforeDestroy() {
    // Notify the server we stopped watching the question
    this.connection.invoke("LeaveQuestionGroup", this.questionId).then(() => {
      this.connection
        .stop()
        .catch(error =>
          console.log(
            "Error handling when connection closin in question.vue. Error: " +
              error
          )
        );
    });
    // Make sure to cleanup SignalR event handlers when removing the component
  },
  methods: {
    onReturnHome() {
      this.$router.push({ name: "Home" });
    },
    onAnswerAdded(answer) {
      if (this.question.id !== answer.questionId) return;
      if (!this.question.answers.find(a => a.id === answer.id)) {
        this.question.answers.push(answer);
      }
    },
    addCookie() {
      QuestionService.addCookie();
    },
    readCookie() {
      QuestionService.readCookie();
    },
    fileChange(fileList) {
      console.log(fileList);
      for (let i = 0; i < fileList.length; i++) {
        this.files.append("file", fileList[i], fileList[i].name);
      }
      // this.files.append("file", fileList[0], fileList[0].name);
    },
    upload() {
      console.log("click upload");
      const files = this.files;
      QuestionService.uploadFiles(files)
        .then(response => {
          alert(response.data);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
