<template>
  <div>
    <nav class="mav has-shadow">
      <div class="container">
        <a href="#">Menu items</a>
      </div>
    </nav>
    <section class="main-section section"></section>
    <footer class="footer">
      <div class="container">
        <div class="container has-text-entered">
          Follow us on Twitter
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>


