
<template>
  <div class="container-fluid mt-4">
    <b-alert
      :show="dismissCountDown"
      dismissible
      variant="warning"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >{{errorMessage}}... {{ dismissCountDown }} seconds</b-alert>

    <h1 class="h1">User Details</h1>
    <p style="align:left;" v-if="isLogin">
      <button
        @click="show"
        type="button"
        class="btn btn-xs btn-primary"
        style="position: absolute; left: 0; margin-left:15px;"
      >New user</button>
    </p>
    <br />
    <br />

    <b-row>
      <b-col>
        <table class="table table-striped" v-if="isLogin">
          <thead>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Position</th>
              <th>Department</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id">
              <td>{{ user.id }}</td>
              <td>{{ user.employeeFullName }}</td>
              <td>{{ user.positionName }}</td>
              <td>{{ user.departmentName }}</td>
              <td>
                <button
                  @click="updateUser(user)"
                  type="button"
                  class="btn btn-xs btn-success"
                >Update</button>
                <button @click="deleteUser(user)" type="button" class="btn btn-xs btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
      <b-col lg="3">
        <b-card title="Login page">
          <form @submit.prevent="loginToLdap">
            <b-form-group label="UserName">
              <b-form-input type="text" v-model="model.UserName"></b-form-input>
            </b-form-group>
            <b-form-group label="Password">
              <b-form-input type="password" v-model="model.Password"></b-form-input>
            </b-form-group>
            <div>
              <b-btn type="submit" variant="success">Login</b-btn>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>

    <modal name="hello-world">
      <template>
        <div class="container">
          <b-form @submit.prevent="onSubmit">
            <input type="hidden" name="Id" :value="modalData.Id" />
            <b-form-group id="input-group-1" label="Full Name:" label-for="fullName">
              <b-form-input
                id="fullName"
                v-model="modalData.EmployeeFullName"
                type="text"
                required
                placeholder="Enter full name"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Position:" label-for="position">
              <b-form-input
                id="position"
                v-model="modalData.PositionName"
                required
                placeholder="Enter position"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Department:" label-for="department">
              <b-form-input
                id="department"
                v-model="modalData.DepartmentName"
                required
                placeholder="Enter department"
              ></b-form-input>
            </b-form-group>

            <div style="float: right;">
              <b-button type="submit" variant="primary">Save</b-button>
              <b-button type="button" variant="danger" @click="hide">Close</b-button>
            </div>
          </b-form>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import UserService from "../UserService";

export default {
  data() {
    return {
      isLogin: false,
      dismissSecs: 2,
      isOpen: false,
      dismissCountDown: 0,
      errorMessage: "",
      model: {},
      modalData: {
        Id: 0,
        EmployeeFullName: "",
        PositionName: "",
        DepartmentName: ""
      },
      result: {
        employeeId: null,
        employeeFullName: "",
        positionName: "",
        departmentName: ""
      },
      users: []
    };
  },
  methods: {
    async loginToLdap() {
      var result = await UserService.login(this.model);
      if (!result.isSuccess) {
            this.errorMessage = result.resultText;
            this.showAlert();
          } else {
            var rp = result.model;
            this.$store.dispatch("setTokensCommit", rp.refreshToken);
            window.localStorage.setItem("token", rp.accessToken);

            this.getAll();
            this.model = {};
            this.isLogin = true;
          }
    },
    async getAll() {
      this.users = await UserService.getAllUsers();
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    show() {
      this.$modal.show("hello-world");
    },
    hide() {
      this.modalData = {
        Id: 0,
        EmployeeFullName: "",
        PositionName: "",
        DepartmentName: ""
      };
      this.$modal.hide("hello-world");
    },
    async onSubmit() {
      var result = await UserService.addUser(this.modalData);
      if (!result.isSuccess) {
            this.errorMessage = result.resultText;
            this.showAlert();
          } else {
            this.users = result.model.value;
          }

      this.modalData = {
        Id: 0,
        EmployeeFullName: "",
        PositionName: "",
        DepartmentName: ""
      };
      this.hide();
    },
    async updateUser(user) {
      this.modalData.Id = user.id;
      this.modalData.EmployeeFullName = user.employeeFullName;
      this.modalData.PositionName = user.positionName;
      this.modalData.DepartmentName = user.departmentName;
      this.show();
    },
    async deleteUser(user) {
      var result = await UserService.deleteUser(user);
      if (!result.isSuccess) {
            this.errorMessage = result.resultText;
            this.showAlert();
          } else {
            this.users = result.model.value;
          }
    }
  },
  created() {
    this.getAll();
    window.localStorage.setItem("token", null);
  }
};
</script>
