<template>
  <h3 class="text-center scoring">
    <button class="btn btn-link btn-lg p-0 d-block mx-auto" @click.stop="onUpvote"><i class="fas fa-sort-up" /></button>
    <span class="d-block mx-auto">{{ question.score }}</span>
    <button class="btn btn-link btn-lg p-0 d-block mx-auto" @click.stop="onDownvote"><i class="fas fa-sort-down" /></button>
  </h3>
</template>

<script>
import { mapGetters } from 'vuex'
import QuestionService from "../QuestionService"

export default {
  props: {
    question: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters('context', [
      'isAuthenticated'
    ])
  },
  created () {
    // Listen to score changes coming from SignalR events
    this.$questionHub.$on('score-changed', this.onScoreChanged)
  },
  beforeDestroy () {
    // Make sure to cleanup SignalR event handlers when removing the component
    this.$questionHub.$off('score-changed', this.onScoreChanged)
  },
  methods: {
    onUpvote () {
      QuestionService.upvoteQuestion(this.question.id).then(res => {
        Object.assign(this.question, res)
      })
    },
    onDownvote () {
      QuestionService.downvoteQuestion(this.question.id).then(res => {
        Object.assign(this.question, res)
      })
    },
    // This is called from the server through SignalR
    onScoreChanged ({ questionId, score }) {
      console.log("score change")
      if (this.question.id !== questionId) return
      Object.assign(this.question, { score })
    }
  }
}
</script>

<style scoped>
.scoring .btn-link{
  line-height: 1;
}
</style>
